@model InvoiceModel

<form asp-controller="Invoice" asp-action="AddInvoice" method="post">
    <input asp-for="InvoiceID" readonly type="hidden" />
    <input type="hidden" asp-for="PartyID" />

    <div class="form-group">
        <label asp-for="InvoiceDate" class="control-label"></label>
        <input type="date" asp-for="InvoiceDate" class="form-control" />
        <span asp-validation-for="InvoiceDate" class="text-danger"></span>
    </div>

    <h4>Products</h4>
    <table class="table table-bordered" id="productTable">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price Of 1 Unit</th>
                <th>Quantity</th>
                <th>Selected</th>
            </tr>
        </thead>
        <tbody>
            @foreach (InvoiceWiseProductModel invoiceWiseProduct in Model.InvoiceWiseProducts)
            {
                <tr class="product-item">
                    <td>
                        @invoiceWiseProduct.Product.ProductName
                    </td>
                    <td>@invoiceWiseProduct.Product.ProductPrice</td>
                    <td>
                        <input type="number" class="form-control quantity-input" asp-for="@invoiceWiseProduct.Quantity" min="1" />
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@invoiceWiseProduct.IsSelected" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <label asp-for="IsPaid" class="control-label">Paid</label>
        <input type="checkbox" asp-for="IsPaid" value="true" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
